body {
  background: black;
}

#cover {
  background: black;
  height: 100vh;
}

#particles-background {
  height: 100vh;
}


#cover-box {
  position: absolute;
  top: 35vh;
  opacity: 0.8;
  font-size: 4vw;
}

#first-cover-row {
  padding: 5px;
}

#second-cover-row {
  padding: 5px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}