body {
  background: black;
}

#cover {
  height: 100vh;
}

#particles-background {
  position: fixed;
  height: 100vh;
  width: 100vw;
}

#cover-row {

}

#cover-terminal {
  position: absolute;
  top: 35vh;
  opacity: 0.8;
}


/*Typed.js cursor*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/*End Typed.js cursor*/

/*Traffic lights*/
.traffic-lights {
    top: 1px;
    left: 8px;

}

.traffic-light {
    border-radius: 100%;
    padding: 0;
    height: 12px;
    width: 12px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-right: 3.5px;
    position: relative;
    outline: none; 
}

#red-traffic {
  background-color: #FC5753;
}

#yellow-traffic {
  background-color: #FDBB40;
}

#green-traffic {
  background-color: #32C747;
}
/*End Traffic lights*/

/*Cover down button*/
#cover-down-button {
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 40px;
  height: 40px;
  top: 75vh;
  opacity: 0.8;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.06);
}
/*End Cover down button*/